*.hc
*.hi
*.o
*.ho
*.exe
*.log
*.project
*.hsproject
KofiDB
KofiDB.hs
kofi.db
create_db
fill_db
ThirdParty/Database/HSQL.hs
ThirdParty/Database/HSQL/SQLite3.hs
.settings/
Leksah-kofi-project.cabal
Setup.lhs
dist/